nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #07090f;
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-logo {
  max-width: 120px;
  cursor: pointer;
}

.nav-menu-icon {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-menu-icon:hover {
  color: #ff8000;
}

.nav-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-button:hover {
  color: #ff8000;
}

.nav-icon {
  font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
  .nav-logo {
    max-width: 90px;
  }
}
